body {
        margin: 0;
        padding-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(20, 20, 20, 1);
}

#overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        z-index: 9999; 
}

.disable-interaction {
        pointer-events: none;
}

div {
        text-align: center;
        justify-content: center;
        align-items: center;
}

h1 {
        filter: blur(1px);
}

#lock-container {
        position: relative;
        margin-top: 15vh;
        margin-bottom: 15vh;
        height: 15vh;
        display: flex;
}

#lock-container img {
        z-index: 6;
        height: 100%;
        width: auto;
}

#lock {
        height: 80%;
        position: absolute;
        left: 1.5vw;
        top: -14%;
        transition: all 0.5s ease; 
        border-radius: 5px;
}

#blurry {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: red;
        opacity: 0.5;
        transition: background-color 0.5s ease;
        filter: blur(100px);
        z-index: 0;
}

.close #lock {
        left: 14vw; 
}

.close #blurry {
        background-color: green;
}

#warning-div {
        height: 10vh;
        color: darkred;
        font-size: large;
        display: flex;
        gap: 5vw;
        opacity: 0;
}

#warning-div img {
        height: 100%;
        width: auto;
        opacity: 0.5;
}

@keyframes fade-in-out {
        0% {
                opacity: 0;
        }
        30%, 60% {
                opacity: 1;
        }
        100% {
                opacity: 0;
        }
}

.error {
        animation: fade-in-out 1s infinite;
}
